background {
  background-color: azure;
  width: 90vmin;
  height: 60vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 25px;
}

Sun {
  background-color: yellow;
  height: 20%;
  width: 10%;
  border-radius: 50%;
  align-self: flex-start;
  position: relative;
  left: 10%;
  top: 10%;
}

buildings {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

building_short {
  align-self: flex-end;
  border: 1px black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40%;
  width: 20%;
  background-color: antiquewhite;
}

building_tall {
  align-self: flex-end;
  border: 1px black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 20%;
  background-color: beige;
  display: flex;
}

window1 {
  width: 40;
  height: 20%;
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

window2 {
  width: 60;
  height: 30%;
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ground {
  width: 100%;
  height: 20%;
  background-color: greenyellow;
  z-index: 1;
  border-radius: 0 0 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
